$weather-widget-color: #191970
$text-color: #ffffff
.container
    color: $text-color
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center  
    .weather-widget-container
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        flex: 0.150
        font-size: 32px
        background-color: $weather-widget-color
        padding: 15px
        border-radius: 1em
        & > div
            margin-top: 15px
            padding: 10px
        .weather-widget-description
            border-top: 2px dotted white
            width: 100%
        .wether-widget-location
            border-top: 2px dotted white
            width: 100%
        .weather-widget-temperature
            border-top: 2px dotted white
            width: 100%

            
            



            